<?xml version="1.0"?>
<launch>
<!--     <remap from="img_topic_subscribed" to="cam0/image_raw" /> -->
<!--     <remap from="pattern_topic_published" to="cam0/calib_pattern_recognised" /> -->
    <node pkg="pp_alvium_driver" name="ros_alvium_rgb" type="ros_alvium_rgb.py" output="screen">
<!--         <rosparam file="$(find pp_alvium_driver)/config/params_rgb.yaml" command="load"/> -->
<!--         <remap from="pp/nir_raw" to="pp/rgb_raw"/> -->
        <rosparam>
        path2cam_calib_yaml: /home/maciej/ros1_wss/pp_collector/src/pp_alvium_driver/calib/210719_rgb.yaml
        camera_id: DEV_1AB22C00A470
        frequency: 45
<!--         2200 for outdoors and 5000 for indoors -->
        exposure_time: 2200
        hardware_delay_correction: 0.026
<!--         max_exposure_time: 5000 -->
        publish_camera_info: True
        published_caminfo_topic: /pp/rgb_cam_info
        published_img_topic: /pp/rgb_raw
        </rosparam>
    </node>

</launch>
